[submodule "third-party/KDTree"]
	path = third-party/KDTree
	url = https://github.com/crvs/KDTree.git
[submodule "third-party/cpp-btree"]
	path = third-party/cpp-btree
	url = https://github.com/JGRennison/cpp-btree.git
[submodule "third-party/DataFrameCpp"]
	path = third-party/DataFrameCpp
	url = https://github.com/kilasuelika/DataFrameCpp.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/DataFrame"]
	path = third-party/DataFrame
	url = https://github.com/hosseinmoein/DataFrame.git
[submodule "third-party/matplotlib-cpp"]
	path = third-party/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
