[submodule "third-party/KDTree"]
	path = third-party/KDTree
	url = https://github.com/crvs/KDTree.git
[submodule "third-party/cpp-btree"]
	path = third-party/cpp-btree
	url = https://github.com/JGRennison/cpp-btree.git
