[submodule "third-party/KDTree"]
	path = third-party/KDTree
	url = https://github.com/crvs/KDTree.git
	branch = KDTree-template
[submodule "third-party/cpp-btree"]
	path = third-party/cpp-btree
	url = https://github.com/JGRennison/cpp-btree.git
[submodule "third-party/msgpack-c"]
	path = third-party/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
	branch = cpp_master
